<div>
  <p>{{postToDisplay?.title}}</p>
  <p>{{postToDisplay?.text}}</p>
  <p>{{postToDisplay?.date}}</p>
</div>
<button class="btn btn-default" (click)="timeToEdit()">Edit</button>
<div *ngIf="editingTime">
  <app-post-edit [postToEdit] ="postToDisplay"></app-post-edit>
</div>
<div class="comments">
  <div class="form-group">
    <label>Add Comment</label>
    <textarea #newCommentText class="form-control"></textarea>
  </div>
  <button class="btn btn-default" (click)="postComment(newCommentText.value); newCommentText.value=''">Submit</button>
</div>
<hr>

<div *ngFor="let comment of commentsToDisplay">
  <p>{{comment.commentText}} - {{comment.date}}</p>
</div>
