<div>
  <p>{{postToDisplay?.title}}</p>
  <p>{{postToDisplay?.text}}</p>
  <p>{{postToDisplay?.date}}</p>
</div>
<button class="btn btn-default" (click)="timeToEdit()">Edit</button>
<div *ngIf="editingTime">
  <app-post-edit [postToEdit] ="postToDisplay"></app-post-edit>
</div>
  <div *ngIf = "isLoggedIn">
    <app-comment-new [PostId] = "postId"></app-comment-new>
  </div>
  <div *ngIf = "!isLoggedIn">
    <p>Please log in to comment on this post</p>
  </div>
<hr>

<div *ngFor="let comment of commentsToDisplay">
  <p>{{comment.commentText}} - {{comment.date}}</p>
</div>
